:root {
	--red       : #cb2929;
	--blue      : #007bff;
	--green     : #28a745;
	--lightergrey : #444;
	--lightgrey : #333;
	--white     : #fff;
	--black     : #000000;
	--yellow    : #ffb224;
	--purple    : #8e4ec6;

}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--black);
    color: var(--white);
    height: 100%;
	position: relative;
}

/* Navbar styles */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color:var(--lightgrey);
}
.navbar a{
	text-decoration: none;
} 
.nav-links a {
	color: var(--white);
}
.logo{
font-size: 28px;
font-weight: 700;
}

.menu {
display: flex;
gap: 1em;
font-size: 18px;
}
.menu li{
	list-style: none;
}
.menu li:hover {
background-color: var(--purple);
border-radius: 5px;
transition: 0.3s ease;
}

.menu li {
padding: 5px 14px;
}

/* responsive menu */

input[type=checkbox] {
	display: none;
} 
  
/* hamburger menu */
.hamburger {
display: none;
font-size: 24px;
user-select: none;
}

/* media queries */
@media (max-width: 768px) {
.menu {
	display:none;
	position: absolute;
	background-color:var(--lightgrey);
	right: 0;
	left: 0;
	text-align: center;
	padding: 16px 0;
}

.menu li:hover {
	display: inline-block;
	background-color:var(--purple);
	transition: 0.3s ease;
}

.menu li + li {
	margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu {
	display: block;
}

.hamburger {
	display: block;
}

}
/* Navbar styles end */

a {
	color: var(--white);
}

a:hover {
	color: 8e4ec6;
}

button {
	cursor: pointer;
	color: var(--white);
}

.header {
    background-color: var(--lightgrey);
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.content {
	margin: 30px auto;
	max-width: 80vw;
    padding: 20px;
	margin-bottom: 100px;
}

.content__sort-by {
	display: block;
	margin-bottom: 10px;
}

.search-sort {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

.search-sort input {
	padding: 10px;
	border-radius: 10px;
	min-width: 300px;
}

.content__buttons {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

.content__buttons button {
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 5px;
	outline: transparent;
	background-color: var(--lightergrey);
	border: none;
	color: var(--white);
	padding: 10px 20px;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 24px;
}

.content__buttons button.active {
	background-color: var(--blue);
}

.search-sort {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.persons {
    display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 25px;
	justify-content: center;
}

.card {
    background-color: #0a0a0a;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(var(--black), 0.2);
}

.card-inner {
    margin-bottom: 20px;
}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card__name {
    font-size: 1.5em;
    margin-bottom: 10px;
	border-radius: 5px;
}

.card-status {
	font-size: 0.9rem;
    margin-bottom: 10px;
	color: var(--white);
    background-color: var(--purple);
	width: max-content;
    border-radius: 5px;
	padding: 5px 20px;
    margin: auto;
}

.card-status.missing {
    color: var(--black);
    background-color: var(--yellow);
}

.card-status.fallen {
    background-color: var(--red);
}

.card-status.kidnapped {
    background-color: var(--lightergrey);
}

.card-status.found {
    background-color: var(--green);
}

.card__office, .locations, .card__gender {
    margin-bottom: 10px;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    align-items: center;
    padding: 2px;
}

.card-button svg {
    margin-right: 0px;
    padding: 4px;
    align-items: center;
}

.share-button {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    padding: 12px;
    cursor: pointer;
    border-radius: 24px;
    width: 100%;
}

.footer {
	position: relative;
    background-color: var(--lightgrey);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer p, .hashtag {
    margin: 0;
}

.hashtag {
	font-size: 20px;
	margin: 0 10px;
}

@media screen and (max-width: 790px) {
	.search-sort {
		flex-direction: column;
	}

	.search-sort input {
		width: 100%;
	}
}
