@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    height: 100%;
}

.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.content {
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 24px;
}

.tabs button.active {
    background-color: #007bff;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 12px;
    width: 300px;
    height: 16px;
    border-radius: 24px;
    border: none;
}

.card-container {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	justify-content: center;
}

.card {
    background-color: #0a0a0a;
    border-radius: 32px;
    padding: 24px;
    margin: 24px;
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-inner {
    margin-bottom: 20px;
}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-status {
    width: 100px;
    padding: 8px;
    font-size: 1.2em;
    margin-bottom: 10px;
    background-color: #8e4ec6;
    border-radius: 32px;
    width: 100px;
    margin: auto;
}

.card-status.missing {
    color: white;
    padding: 8px;
    background-color: #ffb224;
    border-radius: 32px;
    width: 100px;
    margin: auto;
}

.card-status.fallen {
    color: white;
    padding: 8px;
    background-color: red;
    border-radius: 32px;
    width: 100px;
    margin: auto;
}

.card-office, .locations, .card-sex {
    margin-bottom: 10px;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    align-items: center;
    padding: 2px;
    
}

.card-button svg {
    margin-right: 0px;
    padding: 4px;
    align-items: center;
}

.share-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 24px;
    width: auto;
    width: 300px;
}

.footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer p, .footer h3 {
    margin: 0;
}
