/**
 * Footer styles.
 */
@import '../variables.scss';
 
.footer {
	background-color: var(--lightgrey);
    padding: 3rem 0 1rem 0;
    color: var(--white);

	> * {
		width: 95%;
		margin: 0 auto;
	}
}

.footer-nav {
    display: flex;
	justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--blue);
}

.hashtag {
    font-size: 1.25rem;
    margin: 1rem 0;
    font-weight: 700;
}

.rights {
    font-size: 0.9rem;
    opacity: 0.8;
}

.copyright {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	text-align: center;
    font-size: 0.9rem;
}

.current-time {
    font-weight: 500;
	margin-top: 1rem;
    color: var(--white);
}
