@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

/* Content */
.content {
    padding: 20px;
    text-align: center;
}

/* Tabs */
.tabs {
    margin-bottom: 20px;
}

.tabs button {
    background-color: #444;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.tabs button.active {
    background-color: #007bff;
}

.tabs button:hover {
    background-color: #555;
}

/* Search Bar */
.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 80%;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #333;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
}

.card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.card-name {
    margin: 10px 0;
}

.card-status {
    margin: 5px 0;
}

.card-status.missing {
    color: orange;
}

.card-status.fallen {
    color: red;
}

/* Buttons */
.card-button {
    align-items: center;
    display: flex;
    margin: 5px 0;
    text-decoration: none;
}

.card-button svg {
    margin-right: 5px;
}

.share-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.share-button:hover {
    background-color: #0056b3;
}

/* Footer */
.footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}
