<footer class="footer">
    <div class="footer-content">
        <nav class="footer-nav">
            <a href="./index.html" title="Home" rel="noopener">Home</a>
            <a href="./privacy.html" title="Privacy Policy" rel="noopener">Privacy Policy</a>
            <a href="./cookies.html" title="Cookie Policy" rel="noopener">Cookie Policy</a>
            <a href="./analytics.html" title="Analytics " rel="noopener"> Analytics</a><br>
        </nav>
        <p class="copyright">
            <span id="current-year"></span> &copy; Kidnappings & Missing Persons in Uganda. All rights reserved.
        </p>
        <p class="current-time" id="current-time"></p>
    </div>
</footer>
