@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

:root {
    --red: #cb2929;
    --blue: #007bff;
    --green: #28a745;
    --lightergrey: #444;
    --lightgrey: #5e5d5d;
    --white: #fff;
    --black: #000000;
    --yellow: #ffb224;
    --purple: #8e4ec6;
    --darkred: #800000;
    --card-bg: #0a0a0a;
    --card-hover-bg: #1a1a1a;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial, sans-serif;
    background-color: var(--black);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--purple);
}

button {
    cursor: pointer;
    color: var(--white);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    transform: translateY(-2px);
}

.header {
   background-color: var(--lightgrey); 
   padding: .5rem;
   text-align: center; 
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.header h2 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

.filters {
    max-width: 1400px;
    width: 95%;
    margin: 2rem auto 0 auto;
    padding: 1rem 0;
}

.search-input {
	margin: 20px;
	border-radius: 24px;
}

.content {
    flex-grow: 1;
    max-width: 1440px;
    width: 95%;
    margin: 2rem auto;
    padding: 1rem 0;
}

.search-sort {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.search-sort input {
    margin: 1rem 0;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
}

.filter-and-search {
    flex:2;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* margin-bottom: 2rem; */
}

.filter-and-search input {
    flex: 1;
    min-width: 250px;
    padding: 0.75rem;
    border-radius: 24px;
    border: none;
    font-size: 1rem;
}

.content__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.content__buttons button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 24px;
    border: none;
    background-color: var(--lightergrey);
    color: var(--white);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.content__buttons button.active {
    background-color: var(--blue);
}

.content__buttons button:hover {
    background-color: var(--blue);
    transform: translateY(-2px);
}

.content__buttons button .badge {
    background-color: #fff;
    border-radius: 12px;
    color: var(--black);
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.persons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
    justify-content: center;
}
.share-button {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.share-button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: var(--lightgrey);
    padding: 2rem;
    color: var(--white);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.footer a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--blue);
}

.copyright, .current-time {
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
}

.current-time {
    font-weight: 500;
	margin-top: 1rem;
    color: var(--white);
}

@media screen and (max-width: 480px) {
    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .copyright, .current-time {
        font-size: 0.8rem;
    }
}

.hashtag {
    font-size: 1.25rem;
    margin: 1rem 0;
    font-weight: 700;
}

.rights {
    font-size: 0.9rem;
    opacity: 0.8;
}

@media screen and (max-width: 1080px) {

	.search-sort {
		display: flex;
		flex-flow: column;
	}
} 

@media screen and (max-width: 768px) {

    .header h1 {
        font-size: 2rem;
    }
}

/* spinner */
.loading {
	display: flex;
	justify-content: center;
    padding: 20px;
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--lightgrey);
    border-top: 5px solid var(--white);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
canvas {
    max-height: 400px;
}
