@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
 
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.content {
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

.tabs button.active {
    background-color: #007bff;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 300px;
}

.card img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card .card-status {
    font-weight: bold;
    margin: 10px 0;
}

.card .card-status.missing {
    color: orange;
}

.card .card-status.fallen {
    color: red;
}

.card .card-office, 
.card .locations,
.card .card-sex {
    margin: 5px 0;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #007bff;
    margin: 5px 0;
}

.card-button svg {
    margin-right: 5px;
}

.card .share-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card .share-button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 5px 0;
}

.footer h3 {
    margin: 5px 0;
}
